<b>Palabra secreta</b>
<br/><br/>
<form>
Cantidad de letras: <%=@letra%>
<br/><br/>
Ingrese Letra
<br/><br/>
<input type='text'/>
<br/>
<input type='submit' value='Verificar'/>
<br/><br/>
Ud ha ingresado la palabra: <b><%=@palabraJugador%></b>
<br/>
y la palabra secreta es: <%=@palabra%>
</form>

