<b>Palabra secreta</b>
<br/><br/>
<form method='post' action='/verificar'>
Cantidad de letras: <%=@cantLetras%>
<br/><br/>
Ingrese Letra
<br/><br/>
<input type='text'  name='letra'/>
<br/>
<input type='submit' value='Verificar'/>
<br/><br/>
Ud ha ingresado la palabra: <b><%=@palabraJugador%></b>
<br/><br/>
<b><%=@mensajeJuego%></b>
</form>

